<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Counter</h1>
	<h3><%= count %> times.</h3>
	<a href="/plus"><button>+2</button></a>
	<a href="/reset"><button>Reset</button></a>
</body>
</html>